# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/
.env

# Docker & Server
.dockerignore
# This ignores the Gunicorn control file and temporary logs
*.ctl
*.log

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Local static storage (if you ever run collectstatic locally)
static_root/